.idea/
*.iml
.idea/misc.xml
client/src/components/Navbar.jsx
.idea/compiler.xml
.idea/workspace.xml
run-server.cmd
server/.ai/
server/src/main/java/com/smartcampus/dto/ResourceRequestDTO.java
server/target/
